.number {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 40px;
}

body {
    background: black;
    overflow-x: hidden;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    background: white;
    width: 80%;
    height: 84vh;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    margin-top: 20px;
}

.d-flex {
    margin-left: 20px;
}

input[type="checkbox"] {
    margin-left: 5px;
}

input[type="radio"] {
    margin-left: 5px;
}

textarea {
    width: 65%;
}


.check, .radio {
    margin: 10px 20px;
}

button {
    width: 15%;
    text-align: left;
    background-color: black;
    color: white;
    border-radius: 10px;
    outline: none;
    width: 110px;
    height: 40px;
    cursor: pointer;
    border: none;
}

a {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

a:hover {
    color: white;
    text-decoration: none;
}



